# You may wish to populate some of the below variables from sources other than
# this file (e.g. passwords).  Other options include sourcing from the command
# line or from environment variables.  See the following page for more info:
# https://www.terraform.io/docs/configuration/variables.html#assigning-values-to-root-module-variables

vsphere_server = "vcenter.example.com"
vsphere_user = "dennis.nedry"
vsphere_password = "theM@gicW0rd"

datacenter = ""
resource_pool = "security-resources"
folder = "main-ops"
datastore_cluster = "main-datastore"
network = "primary_network"
template_vm_linux = "ubnutu-18.04"

ssh_private_key_file = "./ssh_keys/id_rsa"
mke_admin_username = "admin"
mke_admin_password = "ButterF1nger$"
mke_lb_dns_name = "mke.example.com"

quantity_managers = 3
quantity_workers = 10

